@import 'https://fonts.googleapis.com/css?family=Raleway';

.container
{
font-family: Raleway;
margin: 0 auto;
padding: 1em 3em;
text-align: center;
}

.container a
{
color: #FFF;
text-decoration: none;
font: 17px Raleway;
margin: 0px 5px;
padding: 5px 5px;
position: relative;
z-index: 0;
cursor: pointer;
}
.topBotomBordersIn a:before, .topBotomBordersIn a:after
{
position: absolute;
left: 0px;
width: 100%;
height: 2px;
background: white;
content: "";
opacity: 0;
transition: all 0.3s;
}

.topBotomBordersIn a:before
{
top: 0px;
transform: translateY(-10px);
}

.topBotomBordersIn a:after
{
bottom: 0px;
transform: translateY(10px);
}

.topBotomBordersIn a:hover:before, .topBotomBordersIn a:hover:after
{
opacity: 1;
transform: translateY(0px);
}


.col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
  }
  
  .margin-top-25 {
    margin-top: 25px;
  }
  
  .form-title {
    padding: 25px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .form-group .form-control {
    -webkit-box-shadow: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius:0; 
    border-color:  #5c72d4;
  }
  
  .form-group .form-control:focus {
      box-shadow: none;
    border-width: 0 0 2px 0;
    border-color:  #5c72d4;
    
  }
  
  textarea {
    resize: none;
  }
  
  .btn-mod.btn-large {
      height: auto;
      padding: 13px 52px;
      font-size: 15px;
      padding-bottom: 15px;
  }
  
  .btn-mod.btn-border {
      color:  #5c72d4;
      border: 1px solid  #5c72d4;
      background: transparent;
      font-weight: bold;
  }
  
  .btn-mod, a.btn-mod {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px 13px;
      color: #fff;
      background: rgba(34,34,34, .9);
      border: 1px solid transparent;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
      color: #fff;
      border-color: #5c72d4;
      background: #5c72d4;
      outline: none;
  }
  
  @media only screen and (max-width: 500px) {
      .btn-mod.btn-large {
         padding: 6px 16px;
         font-size: 10px;
      }
    
      .form-title {
          font-size: 20px;
    }
  }
   .acc{
        color: white;
            margin-top:20px;
    }
    .acc>.ct{
            margin-top: auto;
        margin-bottom: auto;
        display: inline-block;
        display: flex;
        justify-content: center;
            
        }
        .acc>.ct>.circle{
           align-items: center;
            background:#5c72d4;
            border-radius: 50%;
            
            display: flex;
            height: 2rem;
            justify-content: center;
            margin: 1rem auto 1.5rem;
            width: 2rem;
            position: relative;
        }
        .acc>.ct>p{
            padding-left: 10px;
            text-align: left;
            font-weight: 600;
        }
        .acc>.ct>.counter{
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
            -webkit-user-select:none;
            -ms-user-select:none;
            z-index: 3;
            color:white;
        }
@media(max-width:767px)
        {
            .acc>.ct>.circle{
                width:2rem;
                height: 2rem;
            }
            hr{
                background-color:#5c72d4;
                height:0.3px;
            }

            .acc>.ct>p{
                text-align: center;
            }
}
 .container{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .table{
            margin-left:auto;margin-right:auto;
            background-color:white;
            position: relative;
            color:#5c72d4;
            width:80%;
        }
        .head{
            background-color: #5c72d4;
            color: white;
        }
      
tr{
    
            text-align: center
}
        tr:hover td, tbody>tr>th{
            color: #5c72d4;
            text-align: center;
            
        }
        tr:hover .st{
            color:white;
        }
 .btn-mod.btn-large {
      height: auto;
      padding: 13px 52px;
      font-size: 15px;
      padding-bottom: 15px;
  }
  
  .btn-mod.btn-border {
      color:  #5c72d4;
      border: 1px solid  #5c72d4;
      background: transparent;
      font-weight: bold;
  }
  
  .btn-mod, a.btn-mod {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px 13px;
      color: #fff;
      background: rgba(34,34,34, .9);
      border: 1px solid transparent;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
      color: #fff;
      border-color: #5c72d4;
      background: #5c72d4;
      outline: none;
  }
  
  @media only screen and (max-width: 500px) {
      .btn-mod.btn-large {
         padding: 6px 16px;
         font-size: 10px;
      }
    
      .form-title {
          font-size: 20px;
    }
}
@media only screen and (max-width: 1000px) {
    
    .table{width:100%;}
    .container{padding-left:5%;padding-right:5%;}
      }
/* Remove default checkbox */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {  
  position: relative;
  overflow: hidden;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/* checkbox aspect */
[type="checkbox"] + label:before,
[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;

  -webkit-transition: .2s;
  transition: .2s;
}
/* Unchecked styles */
[type="checkbox"]:not(:checked) + label:before {
  top: 0px;
  width: 19px; height: 19px;
  border: 1px solid #5c72d4;
}
[type="checkbox"]:not(:checked) + label:after {
  top: 0px;
  width: 19px; height: 19px;
  border: 1px solid #5c72d4;
  z-index: #5c72d4;
}
/* Checked styles */
[type="checkbox"]:checked + label:before {
  top: 2px;
  width: 6px; height: 12px;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid #5c72d4;
  border-bottom: 1px solid #5c72d4;
  -webkit-transform: rotateZ(37deg);
  transform: rotateZ(37deg);

  -webkit-transform-origin: 20% 40%;
  transform-origin: 100% 100%;
}
[type="checkbox"]:checked + label:after {
  top: 0px;
  width: 19px; height: 19px;
  border: 1px solid #5c72d4;
  z-index: 0;
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  top: 0;
  box-shadow: none;
  background-color: #444;
  width: 19px; height: 19px;
  border: 3px solid #444;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}
[type="checkbox"]:disabled + label {
  color: #555;
}
[type="checkbox"]:disabled:not(:checked) + label:hover:before {
  border-color: #5c72d4;
}