@import 'https://fonts.googleapis.com/css?family=Raleway';


body {
  background-color: white;
  background-image: url("../img/test.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
}

 @import 'https://fonts.googleapis.com/css?family=Raleway';

        .container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 1em 3em;
	text-align: center;
}

.atags
{
    color: #FFF;
    text-decoration: none;
    font: 18px Raleway;
    margin: 0px 5px;
    padding: 5px 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.topBotomBordersIn a:before, .topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

.topBotomBordersIn a:hover:before, .topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}





  h3{
    
  }
  .text{
    color: black;
    text-align: left;
    font-weight: 100000em;
  }

  /*color text before*/
  
  h1 {
    color:black;
    font-weight: 100000em;
    
  }
  
  .text{
    color:black;
    text-align: center;
    font-weight: 100000em;
  }
  
  
  .folded-corner:hover .text{
    /*color text after*/
    visibility: visible;
    color:white;;
  }
  .margining {
    margin-top:20px;
    
  
  }
  
  
  /*
    nav link items
  */
  .folded-corner{
    padding: 25px 25px;
    position: relative;
    font-size: 90%;
    text-decoration: none;
    color: #999; 
    background: transparent;
    transition: all ease .5s;
    border: 1px solid black;
  }
  .folded-corner:hover{
    /*color after */
    background-color:#5c72d4;
   /* if u want shadow effect after hover also 
   box-shadow:         inset 0 0 10px black ;
    -moz-box-shadow:    inset 0 0 10px black;
    -webkit-box-shadow: inset 0 0 10px black ;
   */
  }
  
 
  
  .folded-corner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0px 0px 0;
    border-color: #ddd #5c72d4;
    transition: all ease .3s;
  }
  .folded-corner:hover:before {
   
   border-width: 0 50px 50px 0;
   /*color of the triangular parts*/
   border-color: #eee  #000000 ;
   
 }
  
  
  
  .before_effects{
/*color before */
    background-color:white;
    /*border:2px solid white;*/
 /*   box-shadow:         inset 0 0 20px #5c72d4;
    -moz-box-shadow:    inset 0 0 20px #5c72d4 ;
    -webkit-box-shadow: inset 0 0 20px #5c72d4;  */
   
  
    
  }
  .before_effects:hover .fa-icon-image{
      color:white;
      transform: rotate(360deg) scale(1.5);
  }
  
  
  .fa-icon-image{
    color: #5c72d4;
    display: inline-block;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      font-size-adjust: none;
      font-stretch: normal;
      -moz-font-feature-settings: normal;
      -moz-font-language-override: normal;
      text-rendering: auto;
      transition: all .65s linear 0s;
      text-align: center;
      transition: all 1s cubic-bezier(.99,.82,.11,1.41);
  }
  
  


/********************************************************************************************/
  
  
  .Main-heading {
      
      color:#000000;
    padding-bottom: 30px;
    font-size:78em;
  }
  
  .mainimage{
    
   opacity:0.4;
   top:10%;
   width:50px;
   height:50px ;
   object-fit: cover;
 }

 .bg-image {
   
   background-image:url('test.png');
   background-size:cover;
   background-repeat:no-repeat;
   opacity: 0.4;
   background-attachment: fixed;
  }

  .board .nav-pills {
    position: relative;
    /* border-bottom: 0; */
     /*width: 80%; */
    margin: 20px auto;
    margin-bottom: 0;
    box-sizing: border-box;
  
  }
  
  .board > div.board-inner > .nav-pills {
    border: none;
  }
  
  p.narrow{
    width: 80%;
    margin: 10px auto;
    color:black;
    text-align: center;
    font-size:2.0em;
    font-weight: 100000em;
  }
  
  
  span.round-tabs{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
  }


  span.round-tabs:hover{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    border-radius: 100px;
    background:#5c72d4;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
  }
  
  
  span.round-tabs.one{
    border: 2px solid #ddd;
    color: #5c72d4
  }
  
  span.round-tabs.one:hover{
    border: 2px solid #ddd;
    color:white
  }
 
 

  .nav-pills > li {
    width: 32%;
  }
  
  .nav-pills > li a{
    width: 50px;
    height: 50px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
  }
  
  
  
  
  .tab-pane{
    position: relative;
    padding-top: 50px;
  }



  .atags2{
    background-color:#5c72d4;
    border: 2px solid #5c72d4;
    color: #ffffff;
  }
  
  .before_effects:hover .atags2{
   background-color:white;
   border: 2px solid white;
   color: #5c72d4;
  }
  

  
  .btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
  }
  
  .btn.green{
    background-color:#5c72d4;
    border: 2px solid #5c72d4;
    color: #ffffff;
  }
  
  .before_effects:hover .btn.green{
   background-color:white;
   border: 2px solid white;
   color: #5c72d4;
  }



  
  @media( max-width : 585px ){


   .Main-heading {
    
     
   padding-bottom: 10px;
   font-size:1.0em;
   font-weight: 1000em;
 }
 
  

   h1{
     font-size:1.8em;
     text-align: center;
     font-weight: 100000em;
   }

   p.narrow{
     width: 90%;
     margin: 10px auto;
     text-align: center;
     color:#000000;
     font-size:1.4em;
     font-weight: 100000em;
   }
    .board {
      width: 90%;
      height:auto !important;
    }
    span.round-tabs {
      font-size:16px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }
    .tab-content .head{
      font-size:20px;
    }
    .nav-pills > li a {
      width: 49px;
      height: 49px;
      line-height:49px;
    }
  
    li.active:after {
      content: " ";
      position: absolute;
      left: 35%;
    }
  
    .btn-outline-rounded {
      padding:12px 20px;
    }
  }
  .vit{
    left:50%;
  }

  .mainimage{
    
   opacity:0.4;
   object-fit: cover;
 }
footer {
    font-size: 16px;
    color: white;
    text-align: center;
}
footer hr{
    background-color: white;
    height:0.7px;
}
footer a{
    color: white;
}
footer a:hover{
    color:white;
}