body{
	padding-bottom:20px;
    background: linear-gradient(to bottom,white,#bbe1fa,white);
}
@font-face
{
    src:url(../fonts/BalooBhaina2-Bold.ttf);
    font-family:'Baloo Bhaina 2';
}
 button {
  border-radius: 20px;
  border: 1px solid #032;
  background-color: #FFB33B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
button.partbutton {
  background-color: transparent;
  border-color: #FFFFFF;
}
.container>.row>.col-lg-4{
	text-align: center;
	margin-bottom:20px;
}
.container>.row>.col-lg-4{
	padding-top:10px;
	color:#0f4c75;
}
img{
    height: 50px;
    width:50px;
}
h1{
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 30px;
    color: #0f4c75;
    margin-top: 15px;
   
}
h3{
    font-size:25px;
    align-content: center;
}
.btn{
    margin-top: 15px;
    margin-bottom: 15px;
    color:#0f4c75;
    border: 1px solid #0f4c75 ;
}
hr{ 
  height: 1px;
  background-color:#0f4c75;
  border: none;
}
.logo{
    margin-right:10px;
    border-radius: 50%;
}
.heading{
    color: #0f4c75;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size:40px;
    text-shadow: 4px 4px 4px #bbe1fa;
}