@import 'https://fonts.googleapis.com/css?family=Raleway';
body{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background:white ;
    /* background:black linear-gradient(to bottom,white,#000000,white); */ 
}

h1{
text-align: center;
color:#5c72d4 ;
    padding-top: 20px;
}

        @import 'https://fonts.googleapis.com/css?family=Raleway';

 .navbar       .container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 1em 3em;
	text-align: center;
}

.navbar .container a
{
    color: #FFF;
    text-decoration: none;
    font: 17px Raleway;
    margin: 0px 5px;
    padding: 5px 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.topBotomBordersIn a:before, .topBotomBordersIn a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: white;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.topBotomBordersIn a:before
{
    top: 0px;
    transform: translateY(-10px);
}

.topBotomBordersIn a:after
{
    bottom: 0px;
    transform: translateY(10px);
}

.topBotomBordersIn a:hover:before, .topBotomBordersIn a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}



.searchbox{
margin-bottom: 20px;
    margin-top: 20px;
  position: relative;
}

.searchbox .input{
  width: 0px;
  border: 0px;
  height: 55px;
  padding: 0px 24px;
  border-radius: 45px;
  box-shadow: 0 0 12px 1px #5c72d4;
  outline: none;
  color: white;
    background: #5c72d4;
  font-size: 18px;
  transition: all 0.5s linear;
}

.searchbtn{
  position: absolute;
  top: 0;
  right: -1px;
  background: #5c72d4;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
/*  transition: all 0.5s 0.5s linear;*/
}

.searchbtn .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 18px;
/*  transition: all 0.5s 0.6s linear;*/
}
.searchbtn.bg-white{
  background:white;
  transition: all 0.2s linear;
}

.searchbtn .fas.color-bg{
  color: #5c72d4;;
  transition: all 0.2s linear;
}

.searchbox .input.active-width{
  width: 280px;
}
   .searchbox  ::placeholder{
         color:white;
         opacity: 1;
     }
h3{
  font-size: 24px;
    font-weight: bold;
}
#team img{
    margin-top: -70px; 
    height: 100px;
    width:100px;
    display: inline-block;
    margin-bottom:5px;
    
}
#team a{
    text-decoration: none;
}
#team p{
    font-weight: 500;
}
#team .card{
    transition:all 0.3s ease-in;
    -webkit-transition:all 0.3s ease-in;
    -moz-transition:all 0.3s ease-in;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    background-color:white/*  #2c2c2c */;
    color: #5c72d4;
    border:none;
    min-height: 285px;
    max-height: 285px;
    border-radius: 5px;
    /* box-shadow: 5px 5px 15px #ebebf5; */ 
-moz-box-shadow: inset 0 0 20px #5c72d4 ;
       -webkit-box-shadow:inset 0 0 20px #5c72d4;
       box-shadow:inset 0 0 20px #5c72d4;  
}
#team .card:hover{
    transform: scale(1.05);
    background:#5c72d4;
    color:white;
    border-radius: 10px;
    border:none;
    /* box-shadow: 5px 5px 10px #2C2C2C; */ 
    -moz-box-shadow: inset 0 0 20px white ;
             -webkit-box-shadow:inset 0 0 20px white;
             box-shadow:inset 0 0 20px white; 
}
footer {
    font-size: 16px;
    color: white;
    text-align: center;
}
footer hr{
    background-color: white;
    height:0.7px;
}
footer a{
    color: white;
}
footer a:hover{
    color:white;
}
/*
#team> .container>.row>.col-lg-3 {
    display: flex;
    align-items: stretch;
}*/
